/*-- scss:defaults --*/

// fonts
// $font-family-sans-serif: "Gill Sans, sans-serif";
$presentation-font-size-root: "36px";

// colors
// $body-bg: #f0f1eb !default;
// $body-color: #000 !default;
// $link-color: #51483d !default;
// $selection-bg: #26351c !default;

// headings
// $presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif !default;
// $presentation-heading-color: #383d3d !default;
$presentation-h1-font-size: "1.8em";
$presentation-h2-font-size: "1.4em";
/*-- scss:rules --*/